/* Denna fil skall innehålla din CSS kod */
body {
    font-size: 24px;
}

#container {
    border: solid 2px black;
    display: grid;
    height: 75vh;
    grid-template-areas:
    'hd'
    'nv'
    'mn'
    'ft';
}

header {
    grid-area: hd;
    background-color: khaki;
    border: solid 1px black;
}

nav {
    grid-area: nv;
    border: solid 1px black;
}

main {
    grid-area: mn;
    display: grid;
    border: solid 1px black;
}

#container2 {
    display: grid;
    width:75%;
    height:200px;
    margin:auto;
    grid-template-areas:
    's1 s2 s3';
    border: solid 3px #3301;
}

#s1 {
    grid-area: s1;
    background-color: hotpink;
}


#s2 {
    grid-area: s2;
    background-color: rgb(118, 255, 105);
}


#s3 {
    grid-area: s3;
    background-color: rgb(55, 44, 175);
}

footer {
    grid-area: ft;
    background-color: salmon;
    text-align: center;
}